bqplot
ipycanvas
ipylab>=0.5.1,<0.6
ipyleaflet
ipywidgets>=7.6
jupyterlab-darkside-ui>=0.1.9
jupyterlab-legos-ui>=0.1.7
jupyterlab_miami_nights
jupyterlab==3.1.0rc2
jupyterlab-drawio
jupyterlite==0.1.0a7
theme-darcula
jupyterlab-cell-flash
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
plotly>=5,<6
