bqplot
ipycanvas
ipylab
ipyleaflet
ipywidgets>=7.6
jupyterlab-darkside-ui>=0.1.9
jupyterlab-legos-ui>=0.1.7 
jupyterlab_miami_nights
jupyterlab==3.1.0b1
jupyterlab-drawio
jupyterlite==0.1.0a4
theme-darcula
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
plotly>=5,<6
