bqplot
ipycanvas
ipylab>=0.6
ipyleaflet
ipywidgets>=8.0
jupyterlab_miami_nights
jupyterlab~=3.5.3
jupyterlab-filesystem-access~=0.5.3
jupyterlab-open-url-parameter~=0.1.0
jupyterlab-plugin-playground~=0.4.0
jupyterlab-webrtc-docprovider~=0.1.1
jupyterlite-core==0.1.2
jupyterlite-pyodide-kernel==0.1.0
jupyterlite-javascript-kernel==0.1.1
jupyterlite-p5-kernel==0.1.1
jupyterlite-echo-kernel==0.2.0
jupyterlite-xeus-lua==0.3.3
jupyterlite-xeus-sqlite==0.2.1
theme-darcula
jupyterlab-cell-flash
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
plotly>=5,<6
